/.vs/config/*.config
/.vs/testApi/DesignTimeBuild/*.dtbcache
/.vs/testApi/v15/*.suo
/.vs/testApi/v15/Server/sqlite3/*.lock
/.vs/testApi/v15/Server/sqlite3/*.ide
/.vs/testApi/v15/Server/sqlite3/*.ide-shm
/.vs/testApi/v15/Server/sqlite3/*.ide-wal
/JobSchedule/obj/Debug/*.cache
/JobSchedule/obj/Debug/*.cs
/TestAutoFacLib/obj/Debug/*.cs
/TestAutoFacLib/obj/Debug/*.cache
/TestCore/obj/Debug/netcoreapp2.0/*.cs
/TestCore/obj/Debug/netcoreapp2.0/*.cache
/TestCore/obj/*.cache
/TestCore/obj/*.props
/TestCore/obj/*.targets
/TestCore/obj/*.json
/TestTopShelf/*.cs
/TestTopShelf/bin/Debug/*.dll
/TestTopShelf/bin/Debug/*.pdb
/TestTopShelf/bin/Debug/*.xml
/TestTopShelf/bin/Debug/*.exe
/TestTopShelf/bin/Debug/*.config
/TestTopShelf/obj/Debug/*.cache
/TestTopShelf/obj/Debug/*.cs
/TestTopShelf/obj/Debug/*.CopyComplete
/TestTopShelf/obj/Debug/*.txt
/TestTopShelf/obj/Debug/*.exe
/TestTopShelf/obj/Debug/*.pdb
/packages/Antlr.3.5.0.2/*.p7s
/packages/Antlr.3.5.0.2/*.nupkg
/packages/Antlr.3.5.0.2/lib/*.dll
/packages/Antlr.3.5.0.2/lib/*.pdb
/packages/Autofac.4.8.1/*.p7s
/packages/Autofac.4.8.1/*.nupkg
/packages/Autofac.4.8.1/lib/net45/*.dll
/packages/Autofac.4.8.1/lib/net45/*.xml
/packages/Autofac.4.8.1/lib/netstandard1.1/*.dll
/packages/Autofac.4.8.1/lib/netstandard1.1/*.xml
/packages/Autofac.Extras.DynamicProxy.4.5.0/*.p7s
/packages/Autofac.Extras.DynamicProxy.4.5.0/*.nupkg
/packages/Autofac.Extras.DynamicProxy.4.5.0/lib/net45/*.dll
/packages/Autofac.Extras.DynamicProxy.4.5.0/lib/net45/*.pdb
/packages/Autofac.Extras.DynamicProxy.4.5.0/lib/net45/*.xml
/packages/Autofac.Extras.DynamicProxy.4.5.0/lib/netstandard1.3/*.dll
/packages/Autofac.Extras.DynamicProxy.4.5.0/lib/netstandard1.3/*.pdb
/packages/Autofac.Extras.DynamicProxy.4.5.0/lib/netstandard1.3/*.xml
/packages/Autofac.Mvc5.4.0.2/*.nupkg
/packages/Autofac.Mvc5.4.0.2/lib/net45/*.dll
/packages/Autofac.Mvc5.4.0.2/lib/net45/*.xml
/packages/Castle.Core.4.3.1/*.p7s
/packages/Castle.Core.4.3.1/*.txt
/packages/Castle.Core.4.3.1/*.md
/packages/Castle.Core.4.3.1/*.nupkg
/packages/Castle.Core.4.3.1/*
/packages/Castle.Core.4.3.1/lib/net35/*.dll
/packages/Castle.Core.4.3.1/lib/net35/*.xml
/packages/Castle.Core.4.3.1/lib/net40/*.dll
/packages/Castle.Core.4.3.1/lib/net40/*.xml
/packages/Castle.Core.4.3.1/lib/net45/*.dll
/packages/Castle.Core.4.3.1/lib/net45/*.xml
/packages/Castle.Core.4.3.1/lib/netstandard1.3/*.dll
/packages/Castle.Core.4.3.1/lib/netstandard1.3/*.xml
/packages/Castle.Core.4.3.1/lib/netstandard1.5/*.dll
/packages/Castle.Core.4.3.1/lib/netstandard1.5/*.xml
/packages/Common.Logging.3.3.1/*.nupkg
/packages/Common.Logging.3.3.1/lib/net35/*.dll
/packages/Common.Logging.3.3.1/lib/net35/*.pdb
/packages/Common.Logging.3.3.1/lib/net35/*.xml
/packages/Common.Logging.3.3.1/lib/net40/*.dll
/packages/Common.Logging.3.3.1/lib/net40/*.pdb
/packages/Common.Logging.3.3.1/lib/net40/*.xml
/packages/Common.Logging.Core.3.3.1/*.nupkg
/packages/Common.Logging.Core.3.3.1/lib/net35/*.dll
/packages/Common.Logging.Core.3.3.1/lib/net35/*.pdb
/packages/Common.Logging.Core.3.3.1/lib/net35/*.xml
/packages/Common.Logging.Core.3.3.1/lib/net40/*.dll
/packages/Common.Logging.Core.3.3.1/lib/net40/*.pdb
/packages/Common.Logging.Core.3.3.1/lib/net40/*.xml
/packages/Common.Logging.Core.3.3.1/lib/portable-win+net40+sl40+wp7/*.XML
/packages/Common.Logging.Core.3.3.1/lib/portable-win+net40+sl40+wp7/*.dll
/packages/Common.Logging.Core.3.3.1/lib/portable-win+net40+sl40+wp7/*.pdb
/packages/Microsoft.ApplicationInsights.2.5.1/*.p7s
/packages/Microsoft.ApplicationInsights.2.5.1/*.nupkg
/packages/Microsoft.ApplicationInsights.2.5.1/lib/net45/*.dll
/packages/Microsoft.ApplicationInsights.2.5.1/lib/net46/*.dll
/packages/Microsoft.ApplicationInsights.2.5.1/lib/netstandard1.3/*.dll
/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.4.0/*.p7s
/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.4.0/*.nupkg
/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.4.0/lib/net40/*.dll
/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.4.0/lib/net45/*.dll
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.5.1/*.p7s
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.5.1/*.nupkg
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.5.1/content/*.xdt
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.5.1/content/*.transform
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.5.1/lib/net45/*.XML
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.5.1/lib/net45/*.dll
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.5.1/lib/netstandard1.6/*.dll
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.5.1/lib/netstandard1.6/*.xml
/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.5.1/*.p7s
/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.5.1/*.nupkg
/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.5.1/content/*.xdt
/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.5.1/content/*.transform
/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.5.1/lib/net45/*.dll
/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.5.1/lib/netstandard1.6/*.dll
/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.5.1/lib/netstandard1.6/*.xml
/packages/Microsoft.ApplicationInsights.Web.2.5.1/*.p7s
/packages/Microsoft.ApplicationInsights.Web.2.5.1/*.nupkg
/packages/Microsoft.ApplicationInsights.Web.2.5.1/content/net45/*.xdt
/packages/Microsoft.ApplicationInsights.Web.2.5.1/content/net45/*.transform
/packages/Microsoft.ApplicationInsights.Web.2.5.1/lib/net45/*.XML
/packages/Microsoft.ApplicationInsights.Web.2.5.1/lib/net45/*.dll
/packages/Microsoft.ApplicationInsights.WindowsServer.2.5.1/*.p7s
/packages/Microsoft.ApplicationInsights.WindowsServer.2.5.1/*.nupkg
/packages/Microsoft.ApplicationInsights.WindowsServer.2.5.1/Tools/*.ps1
/packages/Microsoft.ApplicationInsights.WindowsServer.2.5.1/content/*.xdt
/packages/Microsoft.ApplicationInsights.WindowsServer.2.5.1/content/*.transform
/packages/Microsoft.ApplicationInsights.WindowsServer.2.5.1/lib/net45/*.XML
/packages/Microsoft.ApplicationInsights.WindowsServer.2.5.1/lib/net45/*.dll
/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.5.1/*.p7s
/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.5.1/*.nupkg
/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.5.1/content/*.xdt
/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.5.1/content/*.transform
/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.5.1/lib/net45/*.dll
/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.5.1/lib/netstandard1.3/*.dll
/packages/Microsoft.AspNet.Mvc.5.2.4/*.p7s
/packages/Microsoft.AspNet.Mvc.5.2.4/Content/*.xdt
/packages/Microsoft.AspNet.Mvc.5.2.4/*.nupkg
/packages/Microsoft.AspNet.Mvc.5.2.4/lib/net45/*.dll
/packages/Microsoft.AspNet.Mvc.5.2.4/lib/net45/*.xml
/packages/Microsoft.AspNet.Mvc.5.2.4/lib/net45/zh-Hans/*.dll
/packages/Microsoft.AspNet.Mvc.5.2.4/lib/net45/zh-Hans/*.xml
/packages/Microsoft.AspNet.Mvc.zh-Hans.5.2.4/*.p7s
/packages/Microsoft.AspNet.Mvc.zh-Hans.5.2.4/*.nupkg
/packages/Microsoft.AspNet.Mvc.zh-Hans.5.2.4/lib/net45/zh-Hans/*.dll
/packages/Microsoft.AspNet.Mvc.zh-Hans.5.2.4/lib/net45/zh-Hans/*.xml
/packages/Microsoft.AspNet.Razor.3.2.4/*.p7s
/packages/Microsoft.AspNet.Razor.3.2.4/*.nupkg
/packages/Microsoft.AspNet.Razor.3.2.4/lib/net45/*.dll
/packages/Microsoft.AspNet.Razor.3.2.4/lib/net45/*.xml
/packages/Microsoft.AspNet.Razor.3.2.4/lib/net45/zh-Hans/*.dll
/packages/Microsoft.AspNet.Razor.3.2.4/lib/net45/zh-Hans/*.xml
/packages/Microsoft.AspNet.Razor.zh-Hans.3.2.4/*.p7s
/packages/Microsoft.AspNet.Razor.zh-Hans.3.2.4/*.nupkg
/packages/Microsoft.AspNet.Razor.zh-Hans.3.2.4/lib/net45/zh-Hans/*.dll
/packages/Microsoft.AspNet.Razor.zh-Hans.3.2.4/lib/net45/zh-Hans/*.xml
/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.0/*.nupkg
/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.0/content/net45/*.xdt
/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.0/lib/net45/*.dll
/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.0/lib/net45/*.xml
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/*.nupkg
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/*.dll
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/*.xml
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/zh-Hans/*.dll
/packages/Microsoft.AspNet.Web.Optimization.zh-Hans.1.1.3/*.nupkg
/packages/Microsoft.AspNet.Web.Optimization.zh-Hans.1.1.3/lib/net40/zh-Hans/*.dll
/packages/Microsoft.AspNet.WebPages.3.2.4/*.p7s
/packages/Microsoft.AspNet.WebPages.3.2.4/Content/*.xdt
/packages/Microsoft.AspNet.WebPages.3.2.4/*.nupkg
/packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/*.dll
/packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/*.xml
/packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/zh-Hans/*.dll
/packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/zh-Hans/*.xml
/packages/Microsoft.AspNet.WebPages.zh-Hans.3.2.4/*.p7s
/packages/Microsoft.AspNet.WebPages.zh-Hans.3.2.4/*.nupkg
/packages/Microsoft.AspNet.WebPages.zh-Hans.3.2.4/lib/net45/zh-Hans/*.dll
/packages/Microsoft.AspNet.WebPages.zh-Hans.3.2.4/lib/net45/zh-Hans/*.xml
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/*.p7s
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/*.nupkg
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/build/net45/*.props
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/content/net45/*.xdt
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/content/net46/*.xdt
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/lib/net45/*.dll
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/lib/net45/*.xml
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/tools/net45/*.ps1
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/*.p7s
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/*.nupkg
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net45/*.props
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net46/*.props
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/*.xdt
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/*.xdt
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/lib/net45/*.dll
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/lib/net45/*.xml
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/*.dll
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/*.targets
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/*.exe
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/*.config
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/*.rsp
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/*.dll
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/*.targets
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/*.exe
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/*.config
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/*.rsp
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/net45/*.ps1
/packages/Microsoft.Net.Compilers.2.6.1/*.nupkg
/packages/Microsoft.Net.Compilers.2.6.1/*.rtf
/packages/Microsoft.Net.Compilers.2.6.1/build/*.props
/packages/Microsoft.Net.Compilers.2.6.1/tools/*.dll
/packages/Microsoft.Net.Compilers.2.6.1/tools/*.targets
/packages/Microsoft.Net.Compilers.2.6.1/tools/*.exe
/packages/Microsoft.Net.Compilers.2.6.1/tools/*.config
/packages/Microsoft.Net.Compilers.2.6.1/tools/*.rsp
/packages/Microsoft.Web.Infrastructure.1.0.0.0/*.nupkg
/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/*.dll
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.4/*.p7s
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.4/Content/Scripts/*.js
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.4/*.nupkg
/packages/Modernizr.2.8.3/*.p7s
/packages/Modernizr.2.8.3/Content/Scripts/*.js
/packages/Modernizr.2.8.3/*.nupkg
/packages/Modernizr.2.8.3/Tools/*.ps1
/packages/Newtonsoft.Json.11.0.1/*.p7s
/packages/Newtonsoft.Json.11.0.1/*.md
/packages/Newtonsoft.Json.11.0.1/*.nupkg
/packages/Newtonsoft.Json.11.0.1/lib/net20/*.dll
/packages/Newtonsoft.Json.11.0.1/lib/net20/*.xml
/packages/Newtonsoft.Json.11.0.1/lib/net35/*.dll
/packages/Newtonsoft.Json.11.0.1/lib/net35/*.xml
/packages/Newtonsoft.Json.11.0.1/lib/net40/*.dll
/packages/Newtonsoft.Json.11.0.1/lib/net40/*.xml
/packages/Newtonsoft.Json.11.0.1/lib/net45/*.dll
/packages/Newtonsoft.Json.11.0.1/lib/net45/*.xml
/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.0/*.dll
/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.0/*.xml
/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.3/*.dll
/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.3/*.xml
/packages/Newtonsoft.Json.11.0.1/lib/netstandard2.0/*.dll
/packages/Newtonsoft.Json.11.0.1/lib/netstandard2.0/*.xml
/packages/Newtonsoft.Json.11.0.1/lib/portable-net40+sl5+win8+wp8+wpa81/*.dll
/packages/Newtonsoft.Json.11.0.1/lib/portable-net40+sl5+win8+wp8+wpa81/*.xml
/packages/Newtonsoft.Json.11.0.1/lib/portable-net45+win8+wp8+wpa81/*.dll
/packages/Newtonsoft.Json.11.0.1/lib/portable-net45+win8+wp8+wpa81/*.xml
/packages/Quartz.2.6.2/*.nupkg
/packages/Quartz.2.6.2/content/*.xsd
/packages/Quartz.2.6.2/lib/net35-client/*.dll
/packages/Quartz.2.6.2/lib/net35-client/*.pdb
/packages/Quartz.2.6.2/lib/net35-client/*.xml
/packages/Quartz.2.6.2/lib/net35/*.dll
/packages/Quartz.2.6.2/lib/net35/*.pdb
/packages/Quartz.2.6.2/lib/net35/*.xml
/packages/Quartz.2.6.2/lib/net40-client/*.dll
/packages/Quartz.2.6.2/lib/net40-client/*.pdb
/packages/Quartz.2.6.2/lib/net40-client/*.xml
/packages/Quartz.2.6.2/lib/net40/*.dll
/packages/Quartz.2.6.2/lib/net40/*.pdb
/packages/Quartz.2.6.2/lib/net40/*.xml
/packages/System.Diagnostics.DiagnosticSource.4.4.1/*.p7s
/packages/System.Diagnostics.DiagnosticSource.4.4.1/*.TXT
/packages/System.Diagnostics.DiagnosticSource.4.4.1/*.nupkg
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/net45/*.dll
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/net45/*.xml
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/net46/*.dll
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/net46/*.xml
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/netcoreapp2.0/*._
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/netstandard1.1/*.dll
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/netstandard1.1/*.xml
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/netstandard1.3/*.dll
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/netstandard1.3/*.xml
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/portable-net45+win8+wpa81/*.dll
/packages/System.Diagnostics.DiagnosticSource.4.4.1/lib/portable-net45+win8+wpa81/*.xml
/packages/System.Diagnostics.DiagnosticSource.4.4.1/ref/netcoreapp2.0/*._
/packages/System.Diagnostics.DiagnosticSource.4.4.1/*.txt
/packages/Topshelf.3.0.0/*.nupkg
/packages/Topshelf.3.0.0/lib/net35/*.dll
/packages/Topshelf.3.0.0/lib/net40-full/*.dll
/packages/WebGrease.1.6.0/*.p7s
/packages/WebGrease.1.6.0/*.nupkg
/packages/WebGrease.1.6.0/lib/*.dll
/packages/WebGrease.1.6.0/tools/*.EXE
/packages/bootstrap.3.3.7/*.p7s
/packages/bootstrap.3.3.7/*.nupkg
/packages/bootstrap.3.3.7/content/Content/*.css
/packages/bootstrap.3.3.7/content/Content/*.map
/packages/bootstrap.3.3.7/content/Scripts/*.js
/packages/bootstrap.3.3.7/content/fonts/*.eot
/packages/bootstrap.3.3.7/content/fonts/*.svg
/packages/bootstrap.3.3.7/content/fonts/*.ttf
/packages/bootstrap.3.3.7/content/fonts/*.woff
/packages/bootstrap.3.3.7/content/fonts/*.woff2
/packages/jQuery.3.3.1/*.p7s
/packages/jQuery.3.3.1/Content/Scripts/*.js
/packages/jQuery.3.3.1/Content/Scripts/*.map
/packages/jQuery.3.3.1/Tools/*.ps1
/packages/jQuery.3.3.1/Tools/*.js
/packages/jQuery.3.3.1/*.nupkg
/packages/jQuery.Validation.1.17.0/*.p7s
/packages/jQuery.Validation.1.17.0/Content/Scripts/*.js
/packages/jQuery.Validation.1.17.0/*.nupkg
